.First__Content{
    background: #28282b;
    height: 80vh;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.First__Content h2{
    width: 80%;
    color: #e4dcdc;
    text-align: center;
}

.First__Content p{
    width: 90%;
    text-align: center;
    color: #e4dcdc;
    margin: 30px 0 20px 0;
}

.Second__Content{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.Card{
    width: 80%;
    margin: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card img{
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
}

.Card p{
    text-align: justify;
}

@media screen and (min-width:768px){
    .Second__Content{
        flex-direction: row;
        height: 50vh;
    }
    
    .Card{
        width: 20%;
        background: #6A6A70;
        margin: 10px 20px;
        padding: 30px 40px;
        border-radius: 15px;
        color: #e4dcdc;
    }
}