.Hero{
    height: auto;
    padding: 70px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero img{
    width: 85%;
    border-radius: 10px;
}

.Hero h2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    color: #0f0f0f;
}

.Hero p{
    width: 90%;
    text-align: center;
    margin: 15px;
    line-height: 20px;
}

.Hero__Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Hero__Form{
    width: 95%;
    background: #3D3E45;
    margin: 0px auto 30px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Hero__Form input{
    width: 60%;
    height: 25px;
    margin: 15px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
}

.Form__Button{
    margin: 0;
    height: 25px;
}

@media screen and (min-width:768px){
    .Hero{
        width: 80%;
        height: 55vh;
        flex-direction: row-reverse;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: space-evenly;
        /* background: red; */
        padding: 130px 0 0 0;
    }
    
    .Hero img{
        width: 400px;
    }

    .Hero__Content{
        width: 550px;
        align-items: center;
    }

    .Hero h2{
        width: 400px;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .Hero p{
        width: 80%;
        font-size: 17px;
        line-height: 25px;
        text-align: center;
    }

 
    .Hero__Form{    
        width: 75%;
        margin: 35px auto;
    } 


}